body {
    background-image: url('https://cdn.wallpapersafari.com/62/4/NO7oig.jpg');
}

.inicio {
    padding: 20px;
    width: 350px;
    max-width: 600px;
    margin: 150px auto 150px auto;
    align-content: center;
}

img {
    width: 200px;
    max-width: 60%;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    display: block;
    margin:auto;
}


button {
    width: 150px;
    max-width: 60%;
    height: 40px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    display: block !important;
    margin: 15px auto 15px auto;
    background-color: #008037;
    border: 1px solid #ffffff;
    color:#ffffff;
}

